SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=

SOCIAL_AUTH_GITHUB_KEY=
SOCIAL_AUTH_GITHUB_SECRET=

# Comma-separated list of frontend callback URLs allowed by Djoser social auth
DJOSER_SOCIAL_AUTH_ALLOWED_REDIRECT_URIS=http://localhost:3000/auth/callback,https://your-frontend-domain.com/auth/callback

# PostgreSQL
DB_NAME=easypass_admindoc
DB_USER=easypass
DB_PASSWORD=Bleach  @@  12
DB_HOST=postgresql-easypass.alwaysdata.net
DB_PORT=5432

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Email / reminders
DEFAULT_FROM_EMAIL=no-reply@admindoc.local
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_TIMEOUT=30

# Celery / Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
