Django==5.2.12
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
djoser==2.3.3
django-filter==25.2
drf-spectacular==0.29.0
psycopg2-binary==2.9.11
social-auth-app-django==5.7.0
stripe==14.4.1
celery==5.6.2
redis==7.3.0
